.beater {
    width: 50vw;  /*can't use fit-content or 100% here */
    aspect-ratio: 1;
}

.inner-round {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    aspect-ratio: 1;
    background-color: #67dbff;
    border-radius: 50%;
}

.outer-round {
    top: 0;
    left: 0;
    width: 50vw;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #000;
}

