::root {
    --lightInner:
    --fullInner: #67dbff
}

body {
    background-color: #f5f5f5;
}

.beater {
    width: 50vw;  /*can't use fit-content or 100% here */
    aspect-ratio: 1;
}

.inner-round {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    aspect-ratio: 1;
    background-color: #67dbff;
    border-radius: 50%;
}

.outer-round {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #999999;
}


/* Popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
}

/* Popup content */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Close button */
.close-btn {
    background-color: #ff5c5c;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
